body {
    background-color: black;
}

.galleryGrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

#galleryImage {
    height: auto;
    padding: 2px;
    display: flex;
}

#galleryImage img {
    max-height: 30vh;
}