body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
}

.container div {
    padding: 5vh;
}

#photoData {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.closeButton {
    padding-left: 1vw;
}

.closeButton img {
    height: 2.5rem;
}