body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
}

.container div {
    padding: 5vh;
}

#photoData {
    color: white;
    font-family: 'Roboto', sans-serif;
}

#photo {
    max-height: 70vh;
    border-style: groove;
    border-width: 1vh;
    border-color: grey;
}

.closeButton {
    padding-left: 1vw;
}

.closeButton button {
    background-color: inherit;
    border: none;
}

.closeButton img {
    height: 2.5rem;
}